abstract=This ontology is one of the modules comprising Global Soil Information System (GloSIS) ontology. The GloSIS ontology was developed part of the SIEUSOIL project, which aims at implementing and testing a shared China-EU Web Observatory platform that will provide Linked (Open) Data to monitor status and threats of soil and land resources. The GloSIS ontology enables the representation of soil related data in semantic format. The ontology has been derived from the UML GLOSIS data model v1.0, and it has been created in line with best practices and methodologies, reusing existing standard models and ontologies, including sosa/ssn for the representation of measurements, or skos for the representation of codelists.
ontologyTitle=GLOSIS ontology
ontologyName=GloSIS Ontology: External Site-Plot module
thisVersionURI=http://w3id.org/glosis/model/siteplot/1.0.1
ontologyRevisionNumber=1.0.1
ontologyNamespaceURI=http://w3id.org/glosis/model/siteplot
status=GloSIS Ontology Specification Draft
licenseURI=https://creativecommons.org/licenses/by-nc-sa/3.0/igo/
licenseName=CC-BY-NC-SA-3.0-IGO
licenseIconURL=https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Cc-by-nc-sa_icon.svg/120px-Cc-by-nc-sa_icon.svg.png
authors=Raul Palma;Bogusz Janiak;W3C/OGC Spatial Data on the Web Working Group;Luís Moreira de Sousa;
authorsURI=http://orcid.org/0000-0003-4289-4922;;;http://orcid.org/0000-0002-5851-2071;
authorsInstitution=PSNC;PSNC;ISRIC;
authorsInstitutionURI=;;;
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=http://www.w3.org/ns/ssn/;http://www.w3.org/ns/sosa/;http://w3id.org/glosis/model/codelists#;http://w3id.org/glosis/model/common#;http://w3id.org/glosis/model/iso28258/2013#;
importedOntologyURIs=http://www.w3.org/ns/ssn/;http://www.w3.org/ns/sosa/;http://w3id.org/glosis/model/codelists#;http://w3id.org/glosis/model/common#;http://w3id.org/glosis/model/iso28258/2013#;
