
abstract=This ontology represents GLOSIS code lists extracted from the data model for the Global Soil Information System (GloSIS) v1.0, edited by Tomas Reznik and Katharina Schleidt
ontologyTitle=GLOSIS
ontologyPrefix=[Ontology NS Prefix]
ontologyNamespaceURI=http://w3id.org/glosis/model/common
ontologyName=GLOSIS
thisVersionURI=http://w3id.org/glosis/model/common/1.0
latestVersionURI=http://w3id.org/glosis/model/common
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=1.0
licenseURI=null
licenseName=null
licenseIconURL=null
citeAs=_:genid-nodeid-node1fqavflahx183. GLOSIS. Revision: 1.0. Retrieved from: http://w3id.org/glosis/model/common/1.0
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=null
publisherURI=null
publisherInstitution=null
publisherInstitutionURI=null
authors=_:genid-nodeid-node1fqavflahx183
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=&lt;http://www.w3.org/ns/sosa/&gt;;&lt;http://www.w3.org/ns/ssn/&gt;
importedOntologyURIs=http://www.w3.org/ns/sosa/;http://www.w3.org/ns/ssn/
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.rdf
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.jsonld
